* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    text-align: center;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 120px;
}